<div class="jumbotron">
    <h1 class="display-4">Hello, Visitor!</h1>
    <p class="lead">
      Search any book you like! 
    </p>
  </div>
<hr class="my-4">
<div class="search panel-body">
    <input class="form-control" placeholder="Filter books..."
        [(ngModel)]="searchTerm" 
        (keyup.enter)="getBooks()">
</div>
<hr class="my-4">

<!--Found any book-->
<div class="container" *ngIf="hasFoundAny">
    <div *ngFor="let book of books" class="card">
        <img *ngIf="book.coverId" src='https://covers.openlibrary.org/b/id/{{book.coverId}}-L.jpg'>
        <div class="card-body">
            <h5 class="card-title">
                {{book.title}}
            </h5>
            <p class="card-text">
                <a [routerLink]="['/author/' + book.authorName]">
                    {{book.authorName}}
                </a>
            </p>
        </div>
    </div>
</div>
<!--No book in this term-->
<div class="container" *ngIf="!hasFoundAny">
    <h5>No results</h5>
</div>
