<hr class="my-4">
<div class="row">
    <div class="col-12">
        <div class="search panel-body">
            <input class="form-control" placeholder="Filter books..."
                [(ngModel)]="searchTerm" 
                (keyup.enter)="getBooks()">
        </div>
    </div>
    <div class="col-12">
        <div class="row mx-4 mt-2">
            <div class="form-check col-6 d-flex justify-content-around">
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
                <label class="btn btn-dark" for="option1">Search books</label>
            </div>
            <div class="form-check col-6 d-flex justify-content-around">
                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                <label class="btn btn-dark" for="option2" [routerLink]="['/author']">Search authors</label>
            </div>
        </div>
    </div>
</div>
<hr class="my-2 mb-4">

<!--Found any book-->
<div class="container" *ngIf="hasFoundAny">
    <div *ngFor="let book of books" class="card d-flex">
        <div id="my-bookmark-{{book.id}}">
            <div *ngIf="book.coverId">
                <img class="card-img-top"  src='https://covers.openlibrary.org/b/id/{{book.coverId}}-L.jpg'>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    {{book.title}}
                </h5>
                <p class="card-text">
                    {{book.authorNames}}
                </p>
            </div>
            <div class="card-body row">
                <button class="btn btn-primary col-5" [routerLink]="['/book/' + book.title]" (click)="saveBook(book)">
                    See details
                </button>
                <div class="col-1"><!--Nothing--></div>
                <button *ngIf="book.authorNames" class="btn btn-primary col-6" [routerLink]="['/author/' + book.authorNames]" (click)="saveAuthorKeys(book.authorKeys); saveBook(book); bookSwitch()">
                    Check authors
                </button>
            </div>
        </div>
    </div>
</div>
<!--No book in this term-->
<div class="container" *ngIf="!hasFoundAny">
    <h5>No results</h5>
</div>
