card{
    margin: 0 auto;
    float: none;
}
.details{
    background-color: burlywood;
    padding: 10px 0px;
    border: 1px solid brown;
    border-radius: 5px 5px;
}
.cover{
    border-radius: 50px 50px;
}
