<div class="jumbotron">
    <h1 class="display-4">Hello, Visitor!</h1>
    <p class="lead">
      Search any author you like! 
    </p>
</div>
<hr class="my-4">
<div class="row">
    <div class="col-12">
        <div class="search panel-body">
            <input class="form-control" placeholder="Filter authors..."
                >
        </div>
    </div>
    <div class="col-12">
        <div class="row mx-4 mt-1">
            <div class="form-check col-6 d-flex justify-content-around">
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
                <label class="btn btn-dark" for="option1" [routerLink]="['']">Search books</label>
            </div>
            <div class="form-check col-6 d-flex justify-content-around">
                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                <label class="btn btn-dark" for="option2">Search authors</label>
            </div>
        </div>
    </div>
</div>
<hr class="my-2 mb-4">

<!--No book in this term-->
<div class="container">
    <h5>No results</h5>
</div>
