<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="#">Books of the world
      <small class="text-muted">
        your source of books in this century!
      </small>
  
    </a>
  
  </nav>

  <div class="jumbotron">
    <img class="my-image" src="../../../assets/background.gif">
    <h1 class="display-4">Hello, Visitor!</h1>
    <p class="lead">
      Search any book you like! 
    </p>
  </div>
  
  <router-outlet></router-outlet>

</div>
